<!DOCTYPE html>
<html lang="es-ES">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/estilos.css">
    <link rel="stylesheet" href="/stylesheets/jquery.fancybox.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/stylesheets/estilos.css">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/funciones/jquery.fancybox.js"></script>

    <title>Área privada</title>
</head>
<body class="ap">
    <section class="menuLat">
        <div>
            <a href="/apIndex"><img src="/imagenes/AluCine1.png" alt=""></a>
        </div>

        <div class="opcionesLat">
            <a href="/backUsuarios/1"><i class="fas fa-user"></i>&nbsp;&nbsp;Usuarios</a>
            <a href="/backPeliculas/1"><i class="fas fa-film"></i>&nbsp;&nbsp;Películas</a>
            <a href="/backPromos/1"><i class="fas fa-percent"></i>&nbsp;&nbsp;Promociones</a>
            <a href="/backHorarios/1"><i class="fas fa-hourglass-end"></i>&nbsp;&nbsp;Horarios</a>
            <a href="/backSalas/1"><i class="fas fa-home"></i>&nbsp;&nbsp;Salas</a>
        </div>

        <div class="sesionLat">
            <p>Sesión</p>
        </div>
    </section>

    <section class="contenido">
        <h2 class="title">Usuarios</h2>

        <div>
            <a class="new fancybox" href="/registro" >
                <i class="fas fa-plus-circle"></i>
                <!--svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M346.5 240H272v-74.5c0-8.8-7.2-16-16-16s-16 7.2-16 16V240h-74.5c-8.8 0-16 6-16 16s7.5 16 16 16H240v74.5c0 9.5 7 16 16 16s16-7.2 16-16V272h74.5c8.8 0 16-7.2 16-16s-7.2-16-16-16z"/><path d="M256 76c48.1 0 93.3 18.7 127.3 52.7S436 207.9 436 256s-18.7 93.3-52.7 127.3S304.1 436 256 436c-48.1 0-93.3-18.7-127.3-52.7S76 304.1 76 256s18.7-93.3 52.7-127.3S207.9 76 256 76m0-28C141.1 48 48 141.1 48 256s93.1 208 208 208 208-93.1 208-208S370.9 48 256 48z"/></svg-->
            </a>

            <button id="bBorrar" disabled>borrar</button>
            <button id="bEditar" disabled>Editar</button>
            <!--form de busqueda que devuelve la url /busquedaUsuarios/1?busqueda=foo-->
            <form action="/busquedaUsuarios/1" method="GET">
                <input type="text" name="busqueda" placeholder="DNI, nombre...">
                <button><i class="fas fa-search"></i></button>
            </form>
            <!--info de la busqueda-->
            <%if(busque){%>
                Busqueda por:<%=busque %>
            <%}%>
            <table class="datos">

                    <tr class="headTabla">
                        <th>DNI</th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>email</th>
                    </tr>


                    <%if(typeof usus!='undefined'){%>
                    <% for(var i=0; i< usus.length; i++){%>
                        <tr class="tbody" id="<%= usus[i]._id %>">
                            <td id="dni"><%= usus[i].dni %></td>
                            <td id="nombre"><%= usus[i].nombre %></td>
                            <td id="apellidos"><%= usus[i].apellidos %></td>
                            <td id="email"><%= usus[i].email %></td>
                        </tr>
                        <% };} %>
            </table>
            <!--BOTONES DE PAGINACION-->
            <% if(paginas>0){%>
                <% if(pag == 1){%>
                    <a><button disabled>Primera</button></a>
                    <a href="/busquedaUsuarios/<%= pagAnte%>?busqueda=<%= busque%>"><button disabled>Anterior</button></a>
                <% }else{%>
                    <a href="/busquedaUsuarios/1?busqueda=<%= busque%>"><button>Primera</button></a>
                    <a href="/busquedaUsuarios/<%= pagAnte%>?busqueda=<%= busque%>"><button>Anterior</button></a>
                <% } %>
                <% if (pag == paginas) { %>
                    <a><button disabled>Siguiente</button></a>
                    <a><button disabled>Ultima</button></a>
                <% } else { %>
                    <a href="/busquedaUsuarios/<%= pagSig%>?busqueda=<%= busque%>"><button>Siguiente</button></a>
                    <a href="/busquedaUsuarios/<%= paginas%>?busqueda=<%= busque%>"><button>Ultima</button></a>
                <% }} %>
        </div>
    </section>
</body>
<script>
    function cambio(){
        if($('tr').hasClass('select')){
            $('#bBorrar').attr('disabled', false);
            if($('tr.select').length==1){
                $('#bEditar').attr('disabled', false);
            }else{
                $('#bEditar').attr('disabled', true);
            }
        }else{
            $('#bBorrar').attr('disabled', true);
            $('#bEditar').attr('disabled', true);
        }
    }

    $('tr.tbody').click(function(){
        $(this).toggleClass('select');
        cambio();
    });

    //borrar los usuarios
    $('#bBorrar').click(function(){
        dnis = "hola";
        $('tr.select').each(function(){
            var dnis = dnis +", "+ $(this).find('#dni').val();
        });
        $('tr.select').each(function(){
            var id = $(this).attr('id');
            var url = "/borrarUsu/"+id;
            $.ajax({
                url:url
            });
        });
        alert("se han eliminado los siguientes usuarios: " + dnis);
        window.location.href='/backUsuarios/1';
    });
    //edit usuario
    $('#bEditar').click(function(){
        window.location.href='/editUsu/'+$('tr.select').attr('id');
    });
</script>
</html>